.container h1 {
  font-size: 80px;
  font-weight: bolder;
  color: black;
  font-family: Impact;
}
.container p {
  font-size: 35px;
}
.container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  width: auto;
  max-width: 200px;
}

.container button:hover {
  background-color: darkgreen;
}
#quoteDisplay p {
  color: black;
  font-size: 35px;
}
